.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background: black;
}

.navItem {
  color: white;
}

.main {
  text-align: center;
}

.addButton {
  margin: 0 auto;
  margin-top: 100px;
}